@using MVC5Course.Models.ViewModels
@{
    ViewBag.Title = "Index";
    var a = ViewData["Temp1"];
    var b = ViewData["Temp2"] as ClientLoginViewModel;
}

<h2>Index</h2>

<h3>
    @ViewData["Temp1"]
</h3>


@b.FirstName @b.LastName
<hr />

@ViewBag.Temp3.FirstName
<hr />

@ViewBag.Temp2.FirstName @ViewBag.Temp2.LastName
<hr/>

@Html.ActionLink("MyForm", "MyForm")
@Html.ActionLink("MyFormResult", "MyFormResult")
@Html.ActionLink("ProductList", "ProductList")
@Html.ActionLink("MyError", "MyError")
