@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<img src="@Url.Action("FileTest", "AR")" alt="" width="400"/><br/>
@Html.ActionLink("PartialViewTest", "PartialViewTest")<br />
@Html.ActionLink("ContentTest", "ContentTest")<br />
@Html.ActionLink("View this pics", "FileTest")<br />
@Html.ActionLink("Downlad this pics.", "FileTest2")<br />
@Html.ActionLink("JasonTest", "JasonTest")<br />